<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to intowow</title>

    <!-- styles -->
    {% style "/assets/bootstrap/css/bootstrap.min.css" %}
    {% style "/assets/font-awesome/css/font-awesome.min.css" %}

    {% style "/css/screen.css" %}
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">  
        <div class="col-sm-12">
        {% include "menu.html" %}
        {% block content %}
        {% endblock %}
        </div>
      </div>  
    </div>

    <!-- scripts -->
    {% script "/assets/jquery/jquery.min.js" %}
    {% script "/assets/tether/dist/js/tether.min.js" %}
    {% script "/assets/bootstrap/js/bootstrap.min.js" %}

    <script type="text/javascript">
      var context = "{{servlet-context}}";
    </script>
    {% block page-scripts %}
    {% endblock %}
    <script type="text/javascript">
      $(document).ready(function() {
        $('.nav-tabs a[href="' + window.location.pathname + '"]').parents('li').addClass('active');
      });
    </script>
  </body>
</html>
