{% extends "user-frame.html" %}
{% block content %}
<div class="jumbotron">
    <h2>
      {{h2}}
    </h2>
    <p>
        Here is your ratings. The movies that you have rated will be removed from recommendation list. 
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                movie name
            </th>
            <th>
                my rating
            </th>
        </tr>
    </thead>
    <tbody>
        {% for movie in movies %}
            <tr>
                <td>
                    {{movie.item_id}}
                </td>
                <td>
                    {{movie.name}}
                </td>
                <td>
                    {{movie.r}}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
