{% extends "base-root.html" %}
{% block content %}
<div class="row">
  <div class="col-sm-12">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Profile</a>
        </li>
        <li class="disabled">
            <a href="#">Messages</a>
        </li>
        <li class="dropdown pull-right">
             <a href="#" data-toggle="dropdown" class="dropdown-toggle">Dropdown<strong class="caret"></strong></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#">Action</a>
                </li>
                <li>
                    <a href="#">Another action</a>
                </li>
                <li>
                    <a href="#">Something else here</a>
                </li>
                <li class="divider">
                </li>
                <li>
                    <a href="#">Separated link</a>
                </li>
            </ul>
        </li>
    </ul> 
    <div class="jumbotron">
    <h2>
        Hello, world!
    </h2>
    <p>
        This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
    </p>
    <p>
        <a class="btn btn-primary btn-large" href="#">Learn more</a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                movie name
            </th>
            <th>
                average rating
            </th>
        </tr>
    </thead>
    <tbody>
        {% for movie in movies %}
            <tr>
                <td>
                    {{movie.item_id}}
                </td>
                <td>
                    {{movie.name}}
                </td>
                <td>
                    {{movie.r}}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}
