{% extends "frame.html" %}
{% block content %}
<div class="jumbotron">
    <h2>
      {{h2}}
    </h2>
    <p>
        For Guest User, we only recommend movies through the highest average ratings. 
    </p>
</div>
<table id="movie-table" class="table" data-order='[[ 2, "desc" ]]'>
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                movie name
            </th>
            <th>
                average rating
            </th>
        </tr>
    </thead>
</table>
{% endblock %}
