{% extends "user-frame.html" %}
{% block content %}
<div class="jumbotron">
    <h2>
      {{h2}}
    </h2>
    <p>
       Here is the movie recommendation list
    </p>
</div>
<table id="movie-table" class="table" data-order='[[2, "desc"]]'>
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                movie name
            </th>
            <th>
                movie genre
            </th>
            <th>
                guessing rating
            </th>
            <th>
                my rating
            </th>
        </tr>
    </thead>
</table>
{% endblock %}
